[submodule "lib/baremetal-nn"]
	path = lib/baremetal-nn
	url = git@github.com:ucb-bar/Baremetal-NN.git
[submodule "lib/libgloss-htif"]
	path = lib/libgloss-htif
	url = https://github.com/ucb-bar/libgloss-htif.git
