# use FT-LINK
source [find ./platform/shared/ft-link.cfg]

### Set the target chip name and expected TAP ID ###
set _CHIPNAME riscv
set _CPUTAPID 0x20000913


### Add TAPs to the Scan Chain ###
# jtag newtap $_CHIPNAME cpu -irlen 5 -expected-id $_CPUTAPID
jtag newtap $_CHIPNAME cpu -irlen 5


### Add CPU targets ###
set _TARGETNAME_0 $_CHIPNAME.cpu0
set _TARGETNAME_1 $_CHIPNAME.cpu1
set _TARGETNAME_2 $_CHIPNAME.cpu2
set _TARGETNAME_3 $_CHIPNAME.cpu3
set _TARGETNAME_4 $_CHIPNAME.cpu4

target create $_TARGETNAME_0 riscv -chain-position $_CHIPNAME.cpu -coreid 0

# target create $_TARGETNAME_0 riscv -chain-position $_CHIPNAME.cpu -coreid 0 -rtos hwthread
# target create $_TARGETNAME_1 riscv -chain-position $_CHIPNAME.cpu -coreid 1
# target create $_TARGETNAME_2 riscv -chain-position $_CHIPNAME.cpu -coreid 2
# target create $_TARGETNAME_3 riscv -chain-position $_CHIPNAME.cpu -coreid 3
# target create $_TARGETNAME_4 riscv -chain-position $_CHIPNAME.cpu -coreid 4
# target smp $_TARGETNAME_0 $_TARGETNAME_1

### Configure work area ###
# Work areas are small RAM areas associated with CPU targets. They are used by OpenOCD to speed up 
# downloads, and to download small snippets of code to program flash chips.
set _WORKAREASIZE 0x600
$_TARGETNAME_0 configure -work-area-phys 0x08000A00 -work-area-size $_WORKAREASIZE -work-area-backup 0

flash bank spi0 fespi 0x20000000 0 0 0 $_TARGETNAME_0 0x10020000

### Chip reset procedure ###
init

halt

echo "Ready for Remote Connections"
